section.foto{
    background-image: url("../img/Nastiya.jpg"); /* The image used */
    height: 750px ;
    background-size: cover;
    background-position: center top 25%;
}


.name:before {
    content:'';
    display: inline-block;
    height: 500px;
}
.fullname{
    color: white;
    text-align: center;
}
h1{
    font-size: 60px;
}
.position{
    font-size: 30px;
}

.column_1 {
    float: left;
    width: 40%;
    }

.column_2 {
    float: left;
    width: 60%;
    }

    .description:after {
    content: "";
    display: table;
    clear: both;
    }

    hr{
       height: 2px;
       background-color: black;
    }

    .social_media:after {
        content: "";
        display: table;
        clear: both;
        text-align: center;
        }

    .facebook{
        float: left;
        width: 10%;
    }
    
    .instagram{
        float: left;
        width: 10%;
    }
    .telegram{
        float: left;
        width: 10%;
    }